// an example to create a new mapping `ctrl-y`
//mapkey('<Ctrl-y>', 'Show me the money', function() {
//    Front.showPopup('a well-known phrase uttered by characters in the 1996 film Jerry Maguire (Escape to close).');
//});

// an example to replace `u` with `?`, click `Default mappings` to see how `u` works.
//map('?', 'u');

// an example to remove mapkey `Ctrl-i`
//unmap('<Ctrl-i>');

// click `Save` button to make above settings to take effect.
// set theme
//settings.theme = '\
//.sk_theme { \
//    background: #fff; \
//    color: #000; \
//} \
//.sk_theme tbody { \
//    color: #000; \
//} \
//.sk_theme input { \
//    color: #000; \
//} \
//.sk_theme .url { \
//    color: #555; \
//} \
//.sk_theme .annotation { \
//    color: #555; \
//} \
//.sk_theme .focused { \
//    background: #f0f0f0; \
//} \
//body { \
//    margin: 0; \
//    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; \
//    font-size: 20pt; \
//} \
//#sk_omnibarSearchArea .prompt, #sk_omnibarSearchArea .resultPage { \
//    display: inline-block; \
//    font-size: 20px; \
//    width: auto; \
//} \
//#sk_omnibarSearchArea>input { \
//    display: inline-block; \
//    flex: 1; \
//    font-size: 20px; \
//    margin-bottom: 0; \
//    padding: 0px 0px 0px 0.5rem; \
//    background: transparent; \
//    border-style: none; \
//    outline: none; \
//} \
//#sk_status, #sk_find { \
//    font-size: 20px; \
//}';
settings.theme = `
.sk_theme {
    font-family: Input Sans Condensed, Charcoal, sans-serif;
    font-size: 20px;
    background: #282828;
    color: #ebdbb2;
}
.sk_theme tbody {
    color: #b8bb26;
}
.sk_theme input {
    color: #d9dce0;
    font-size: 2px;
}
.sk_theme .url {
    color: #98971a;
}
.sk_theme .annotation {
    color: #b16286;
}
.sk_theme .omnibar_highlight {
    color: #ebdbb2;
}
.sk_theme #sk_omnibarSearchResult ul li:nth-child(odd) {
    background: #282828;
}
.sk_theme #sk_omnibarSearchResult ul li.focused {
    background: #d3869b;
}
#sk_status, #sk_find {
    font-size: 20px;
}`;

Hints.style('font-size: 20px;');
map('u', 'e');
mapkey('p', "Open the clipboard's URL in the current or new tab", function() {
    Front.getContentFromClipboard(function(response) {
        //window.location.href = response.data; // open in current
        window.open(response.data); // open in new tab
    });
});
map('P', 'cc');
map('gi', 'i');
map('F', 'f');
unmap('f');
map('f', 'af');
//map('F', 'af');
map('gf', 'w');
//map('`', '\'');
// save default key `t` to temp key `>_t`
//map('>_t', 't');
// create a new key `t` for default key `on`
//map('t', 'on');
// create a new key `o` for saved temp key `>_t`
//map('o', '>_t');
map('H', 'S');
map('L', 'D');
map('K', 'R');
map('J', 'E');
//map('K', 'S');
//map('J', 'D');
//map('L', 'R');
//map('H', 'E');
//map('gt', 'R');
//map('gT', 'E');

aceVimMap('H', '^', 'normal');
aceVimMap('L', '$', 'normal');
imap(';;', "<Ctrl-'>");     // press semicolon twice to toggle quote.
imap(',,', "<Esc>");        // press comma twice to leave current input box.


settings.blacklistPattern = /^127.0.0.1.*/i;
settings.blacklistPattern = /^localhost.*/i;

// Disable Emoji completion
//iunmap(":");
