// an example to create a new mapping `ctrl-y`
//mapkey('<Ctrl-y>', 'Show me the money', function() {
//    Front.showPopup('a well-known phrase uttered by characters in the 1996 film Jerry Maguire (Escape to close).');
//});

// an example to replace `u` with `?`, click `Default mappings` to see how `u` works.
//map('?', 'u');

// an example to remove mapkey `Ctrl-i`
//unmap('<Ctrl-i>');

// click `Save` button to make above settings to take effect.
// set theme
settings.theme = '\
.sk_theme { \
    background: #fff; \
    color: #000; \
} \
.sk_theme tbody { \
    color: #000; \
} \
.sk_theme input { \
    color: #000; \
} \
.sk_theme .url { \
    color: #555; \
} \
.sk_theme .annotation { \
    color: #555; \
} \
.sk_theme .focused { \
    background: #f0f0f0; \
}';
map('u', 'e');
mapkey('p', "Open the clipboard's URL in the current or new tab", function() {
    Front.getContentFromClipboard(function(response) {
        //window.location.href = response.data; // open in current
        window.open(response.data); // open in new tab
    });
});
map('P', 'cc');
map('gi', 'i');
map('F', 'f');
unmap('f');
map('f', 'af');
//map('F', 'af');
map('gf', 'w');
map('`', '\'');
// save default key `t` to temp key `>_t`
//map('>_t', 't');
// create a new key `t` for default key `on`
//map('t', 'on');
// create a new key `o` for saved temp key `>_t`
//map('o', '>_t');
//map('H', 'S');
//map('L', 'D');
//map('K', 'R');
//map('J', 'E');
map('K', 'S');
map('J', 'D');
map('L', 'R');
map('H', 'E');
//map('gt', 'R');
//map('gT', 'E');

settings.blacklistPattern = /^127.0.0.1.*/i;
settings.blacklistPattern = /^localhost.*/i;

// Disable Emoji completion
iunmap(":");
